<html>
    <head>
        <title>Github Navigator</title>
        <link rel="stylesheet" href="static/application.css" />
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300|Source+Code+Pro' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
        <header></header>
        <nav>
            <form>
                <input type="text" name="search_term" placeholder="search term.." autocomplete="off" />
            </form>
        </nav>
        <main>
        </main>
        <script src="static/application.js"></script>
    </body>
</html>