{% extends "index.html" %}
{% block content %}
    <h1>{{ agent.alias }}</h1>
    <p>{{ agent.id }}</p>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>Average Wait (s)</td>
                <td>Average Duration (s)</td>
                <td>Average Score</td>
                <td>Average Polarity Rating</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ agent.average_wait()|round(1) }}</td>
                <td>{{ agent.average_duration()|round(1) }}</td>
                <td>{{ agent.average_score()|round(1) }}</td>
                <td>{{ agent.average_k_polarity()|round(4) }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>Chat ID</td>
                <td>Created</td>
                <td>Requested By</td>
                <td>Page</td>
                <td>Polarity Rating</td>
            </tr>
        </thead>
        <tbody>
            {% for chat in agent.chats|reverse %}
                <tr>
                    <td><a href="/chats/{{ chat.id }}">{{ chat.id }}</a></td>
                    <td>{{ chat.created_at|pretty_timestamp }}</td>
                    <td>{{ chat.requested_by }}</td>
                    <td>{{ chat.page_url}}</td>
                    <td>{{ chat.k_polarity|round(4) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}