{% extends "index.html" %}

{% block content %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>Chat ID</td>
                <td>Created</td>
                <td>Requested By</td>
                <td>Agent ID</td>
                <td>Polarity Rating</td>
            </tr>
        </thead>
        <tbody>
            {% for chat in chats %}
                <tr>
                    <td><a href="/chats/{{ chat.id }}">{{ chat.id }}</a></td>
                    <td>{{ chat.created_at|pretty_timestamp }}</td>
                    <td>{{chat.requested_by }}</td>
                    <td><a href="/agents/{{ chat.agent.id }}">{{ chat.agent.id }}</a></td>
                    <td>{{ chat.k_polarity|round(4) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}